OPENAI_API_KEY="ollama"

# LLM
MODEL_NAME=qwen3:8b
MODEL_EMBEDDING_NAME=rjmalagon/gte-qwen2-1.5b-instruct-embed-f16:latest
API_KEY=ollama
BASE_URL=http://localhost:11434/v1/
OLLAMA_BASE_URL = "http://localhost:11434/v1/chat/completions"
JUDGE_MODEL = "openai:/qwen3:8b"

# Pinecone
INDEX_NAME=rag-mlflow-llm-judges
PINECONE_DATA_FILE=data/data.txt
PINECONE_API_KEY=YOUR_PINECONE_API_KEY

# ML Flow
ML_FLOW_TRACKING_URI=http://localhost:5050
